

.grid-area{
    display: grid;
    grid-template-columns: repeat(61, 16px);
}


.paintButton {
    display: flex;
    align-items: center;
    padding: 6px;
    width: 190px;
    height: 20px;
    
}

.grid-paint .pincel  {
    width: 25px;
    height: 25px;
    margin-right: 10px; 
    border-radius: 100%;

}
.grid-paint .pincel:hover{
    background-color: #cac7c7;
}
.grid-paint img  {
   width: 90%
}
.grid-paint p{
    font-family: 'Roboto';
    font-weight: 500;
}


.block {
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 5px;
    background-color: white;
}
.Visitados {
    background-color: #000000; 
}
.beginning{
    background-color: #99D867
}   
.end {
    background-color: #FF7070;
}
.walls {
    background-color: #5B8AE5;
}
