.block {
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 5px;
    background-color: white;
}

.beginning{
    background-color: #99D867
}
.end {
    background-color: #FF7070;
}
.walls {
    background-color: #5B8AE5;
}
.Visitados {
  background-color: #000000
}
