
.header{
    background: #88a3ec;
    color: white;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.headerBtn{
    display: table-cell;
    background: rgb(117, 240, 144);
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
}

.headerBtn:focus {
    outline: none;
}

.subtitle{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 15px;
    
}
.subBlocks{
    display:  table-cell;
    font-family: 'Roboto';
    font-weight: 500;
    align-items: center;
    margin:1px 2px 3px 4px;
    
}

.laranja{
    background: rgb(250, 150, 0);
    color: rgb(250, 150, 0);
    width: 20px;
    float: left;
    margin-left: 30px;
}
.azul{
    background: rgb(20, 59, 233);
    color: rgb(20, 59, 233);
    width: 20px;
    float: left;
    margin-left: 30px;
}
.amarelo{
    background: rgb(255, 240, 36);
    color: rgb(255, 240, 36);
    width: 20px;
    float: left;
    
}
.vermelho{
    background: rgb(241, 0, 0);
    color:rgb(241, 0, 0);
    width: 20px;
    float: left;
    margin-left: 30px;
}
.verde{
    background: rgb(104, 230, 78);
    color: rgb(104, 230, 78);
    width: 20px;
    float: left;
    margin-left: 30px;
}