
.paintButton {
    display: flex;
    align-items: center;
    padding: 6px;
    width: 190px;
    height: 20px;
    
}

.paint .pincel  {
    width: 25px;
    height: 25px;
    margin-right: 10px; 
    border-radius: 100%;

}
.paint .pincel:hover{
    background-color: #cac7c7;
}
.paint img  {
   width: 90%
}
.paint p{
    font-family: 'Roboto';
    font-weight: 500;
}